= render 'shared/side_bar'
/ ヘッダー部分
.main_screen
  .group_name_screen
    %p.group_name_screen__content--name
      = @group.name
    = link_to edit_group_path (@group.id) do
      %p.group_name_screen__content--edit_button edit
    %p.group_name_screen__member Members:
    - @group.users.each do |member|
      %p.group_name_screen__members
        = member.name

  / チャット表示部分
  = render partial: 'messages/messages', locals: {messages: @messages}
  / フッター部分
  = render partial: 'messages/footer', locals: {messages: @foort}
